<aside class="bg-black-1000 text-white-1000 max-h-full h-full w-full flex flex-col overflow-auto p-2">
<!--  <input type="color" style="height: 40px; width: 40px">-->
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet assumenda dicta dolorem dolores et hic id inventore ipsa molestias nemo, odit perferendis placeat quae quo quod tempora veniam. Enim?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet assumenda dicta dolorem dolores et hic id inventore ipsa molestias nemo, odit perferendis placeat quae quo quod tempora veniam. Enim?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet assumenda dicta dolorem dolores et hic id inventore ipsa molestias nemo, odit perferendis placeat quae quo quod tempora veniam. Enim?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet assumenda dicta dolorem dolores et hic id inventore ipsa molestias nemo, odit perferendis placeat quae quo quod tempora veniam. Enim?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet assumenda dicta dolorem dolores et hic id inventore ipsa molestias nemo, odit perferendis placeat quae quo quod tempora veniam. Enim?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet assumenda dicta dolorem dolores et hic id inventore ipsa molestias nemo, odit perferendis placeat quae quo quod tempora veniam. Enim?
</aside>
