<footer class="bg-black-1000 w-full h-full text-white-1000 flex items-center px-3">
  <div class="flex-1"></div>

  <div class="flex-1 flex justify-center items-center">
    <a href="https://github.com/HCLS616-RUTECH" target="_blank" class="mr-4">Github</a>
    <a href="https://hh.ru/resume/978f25ecff03ea18570039ed1f4243544d4f4d" target="_blank">HH</a>
  </div>

  <div class="flex-1 flex items-center justify-end">
    <div class="flex">
      <icon-brand-angular></icon-brand-angular>
      <div class="ml-2">Angular v. {{ angular }}</div>
    </div>

    <div class="ml-2 mr-1">+</div>

    <div class="flex">
      <icon-brand-yandex></icon-brand-yandex>
      <div class="ml-1">Yandex Maps v. {{ yandex }}</div>
    </div>
  </div>
</footer>
