<article class="bg-black-1000 h-full w-full flex flex-col justify-between items-center text-white-1000 py-3">
  <button (click)="handleSetActionState('DRAWING_POLYLINE')">Линия</button>
  <button (click)="handleSetActionState('DRAWING_POLYGON')">Зона</button>
  <button (click)="handleSetActionState('EDITING_POLYGON')" [disabled]="!isSelected">Ред</button>
  <button (click)="handleSetActionState('DELETE_POLYGON')" [disabled]="!isSelected">Удал</button>
  <button (click)="handleSetActionState('DRAG_POLYGON')" [disabled]="!isSelected">ТАЩ</button>
  <button>%</button>
</article>
