<header class="bg-black-1000 w-full h-full text-white-1000 flex justify-between items-center px-3">
  <a href="https://projects-angular.firebaseapp.com">Вернуться к проектам</a>

  <div class="flex items-center">
    <div *ngIf="vertexCount" class="ml-2">Количество вершин: {{ vertexCount }}</div>
    <div class="ml-2">{{ actionTitle }}</div>
    <button (click)="handleUpdate()" class="ml-2">ОБНОВИТЬ</button>
    <button (click)="handleSaveChanges()" [disabled]="!isHaveChanges" class="ml-2">СОХРАНИТЬ</button>
  </div>
</header>
